<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2013 roku:</h2>
        <ul class="workshops-list">
          <li>10-11 maja 2013, Katowice, <a href="http://www.novotel.com/pl/hotel-3377-novotel-katowice-centrum/index.shtml" target="_blank">Hotel Novotel,</a> <a href="static/pdf/Zaproszenie_echoexpert_Katowice.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>24-25 maja 2013, Szczecin, <a href="https://www.radissonblu.com/en/hotel-szczecin" target="_blank">Hotel Radisson Blu,</a> <a href="static/pdf/Zaproszenie_echoexpert_Szczecin.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>21-22 czerwca 2013, Lublin, <a href="http://www.novotel.com/pl/hotel-3377-novotel-katowice-centrum/index.shtml" target="_blank">Hotel Mercure,</a> <a href="static/pdf/Zaproszenie_Lublin_EchoExpert2013.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>20-21 września 2013, Poznań, <a href="http://old.hoteltwardowski.pl/" target="_blank">Hotel Twardowski,</a> <a href="static/pdf/Echoexpert_Poznan_2013.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>25-26 października 2013, Opole, <a href="http://www.novotel.com/pl/hotel-3377-novotel-katowice-centrum/index.shtml" target="_blank">Hotel Mercure,</a> <a href="static/pdf/Echoexpert_zaproszenie_Opole_2013.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>22-23 listopada 2013, Gdańsk, <a href="https://www.scandichotels.com/scandic-polska/scandic-gdansk" target="_blank">Hotel Scandic,</a> <a href="static/pdf/Echoexpert_zaproszenie_Gdansk_2013.pdf" target="_blank">Zaproszenie (pdf)</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}

p {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
