<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2016 roku:</h2>
        <ul class="workshops-list">
          <li>06-07 maja 2016 – Wrocław, Hotel Mercure Centrum, <a href="static/pdf/Echoexpert_Zaproszenie_Wroclaw_2016.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>17-18 czerwca 2016 - Opinogóra, Muzeum Romantyzmu, <a href="static/pdf/Echoexpert_Zaproszenie_Opinogora_2016.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>09-10 września 2016 - Brzesko, Pałac Goetz, <a href="static/pdf/Echoexpert_Zaproszenie_Brzesko.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>21-22 października 2016, Mielno <a href="static/pdf/Echoexpert_Zaproszenie_Mielno_2016.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>4-5 listopada 2016 - Katowice <a href="static/pdf/Echoexpert_Zaproszenie_Katowice_2016.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>18-19 listopada 2016 - Poznań <a href="static/pdf/Echoexpert_Zaproszenie_2016_Poznan.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}

p {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
