<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2014 roku:</h2>
        <ul class="workshops-list">
          <li>20-21 czerwca 2014, Szczecin, Hotel Radisson BLU, <a href="static/pdf/Echoexpert_Szczecin_www_2014_05_21_RP.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>12-13 września 2014, Janowice k. Tarnowa, Pałac Janowice, <a href="static/pdf/Echoexpert_Janowice_2014.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>07-08 listopada 2014, Nowa Sól, Park Technologiczny Interior, <a href="static/pdf/Echoexpert_Nowa_Sol_2014.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>14-15 listopada 2014, Bydgoszcz, Hotel City, <a href="static/pdf/Echoexpert_Bydgoszcz_2014_10.pdf" target="_blank">Zaproszenie (pdf)</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}

p {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
