<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2020 roku:</h2>
        <ul class="workshops-list">
          <li>14-15 luty 2020 - Kielce <a href="static/pdf/Echoexpert_Zaproszenie_Kielce_20200214.pdf?uuid=2" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>22 sierpnia 2020 - Olsztyn - Kurs odbył się w formie <strong>on line</strong> - zakończony. <a href="static/pdf/Echoexpert_Zaproszenie_Olsztyn2020_(A4)_V5.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>29 sierpnia 2020 - Tarnów - Kurs odbył się w formie <strong>on line</strong> - zakończony. <a href="static/pdf/Echoexpert_Zaproszenie_Tarnow2020_(A4)_V1.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>5 września 2020 - Poznań - Kurs odbył się w formie <strong>on line</strong> - zakończony. <a href="static/pdf/Echoexpert_Zaproszenie_Poznan2020_(A4)_V3.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>12 września 2020 - Gdańsk - Kurs odbył się w formie <strong>on line</strong> - zakończony. <a href="static/pdf/Echoexpert_Zaproszenie_Gdansk2020_(A4)_V1.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>26 września 2020 - Warszawa - Kurs odbył się w formie <strong>on line</strong> - zakończony. <a href="static/pdf/Echoexpert_Zaproszenie_Warszawa2020_(A4)_V1.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>10 października 2020 - Kraków - Kurs odbył się w formie <strong>on line</strong> - zakończony. <a href="static/pdf/Echoexpert_Zaproszenie_Krakow2020_(A4)_20_09_25_RP_V2.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>17 października 2020 - Wrocław - Kurs odbył się w formie <strong>on line</strong> - zakończony. <a href="static/pdf/Echoexpert_Zaproszenie_Wroclaw2020_(A4)_20_09_25_RP_V2.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .c-red{
    color: red;
  }
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}
.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}
.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
