<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">
          Daty i miejsca kursów Echo-Expert w 2023 roku:
        </h2>
        <ul class="workshops-list">
          <li>
            Warszawa - 21.01.2023 r. - kurs w formie <strong>on line</strong>
            <a href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_WAWA_2023_2022_12_20.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>

          <li>
            W drodze do Echo-Experta - 15.04.2023 r. - kurs w formie <strong>on line</strong>
            <a href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_w_DRODZE_DO_ECHO_EXPERTA_2023_BEZ_V1.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>

          <li>
            Katowice - 27.05.2023 r. - kurs w formie <strong>on line</strong>
            <a href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_KATOWICE_2023_04_24_RP_BEZ.PDF" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>

          <li>
            Gdańsk – 02.09.2023 r. - kurs w formie <strong>on line</strong>
            <a href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_GDANSK_2023.PDF" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>

          <li>
            Wrocław – 18.11.2023 r. - kurs w formie <strong>on line</strong>
            <a href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_WROCLAW_2023_10_09.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>

          <li>
            Echoexpert Special Debiuty – 09.12.2023 r. - kurs w formie <strong>on line</strong>
            <a href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_DEBIUTY_SERVIER_2023.PDF" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>


        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.c-red {
  color: red;
}

.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
