<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2012 roku:</h2>
        <ul class="workshops-list">
          <li>2-3 marca 2012, Janowice k.Zakliczyna <a href="http://www.palac-janowice.pl/" target="_blank">Pałac Janowice,</a> <a href="static/pdf/EchoZaproszenieJanowice2012.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>25-26 maja 2012, Szczecin <a href="https://www.radissonblu.com/en/hotel-szczecin" target="_blank">Hotel Radisson Blu,</a> <a href="static/pdf/Zaproszenie_echoexpert_szczecin_kor2012_05_10x2.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>15-16 czerwca 2012, Bydgoszcz <a href="http://www.holiday.hgb.com.pl/index.html" target="_blank">Hotel Holiday Inn,</a> <a href="static/pdf/Zaproszenie_echoexpert_bydgoszcz_kor2012_06_05.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>14-15 września 2012, Lublin <a href="https://www.accorhotels.com/pl/hotel-3404-hotel-mercure-lublin-centrum/index.shtml" target="_blank">Hotel Twardowski,</a> <a href="static/pdf/Zaproszenie_echoexpert_lublin_kor2012_07_10.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>26-27 października 2012, Zielona Góra <a href="http://www.rubenhotel.pl/" target="_blank">Hotel Ruben,</a> <a href="static/pdf/Zaproszenie_echoexpert_zielona_gora_kor2012_07_11.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>30 listopada - 01 grudnia 2012, Opole <a href="https://www.accorhotels.com/pl/hotel-3405-hotel-mercure-opole/index.shtml" target="_blank">Hotel Mercure Opole,</a> <a href="static/pdf/Zaproszenie_echoexpert_opole_kor2012_07_10.pdf" target="_blank">Zaproszenie (pdf)</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}

p {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
