<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2019 roku:</h2>
        <ul class="workshops-list">
          <li>01-02 luty 2019 – Łódź <a href="static/pdf/Echoexpert_Zaproszenie_Lodz_2019.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>08-09 marzec 2019 – Szczecin <a href="static/pdf/Echoexpert_Zaproszenie_Szczecin_2019.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>24-25 maj 2019 – Bydgoszcz <a href="static/pdf/Echoexpert_Zaproszenie_Bydgoszcz_WWW_(A4)_2019_03_12_IZ.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>07-08 czerwiec 2019 – Rzeszów <a href="static/pdf/Echoexpert_Zaproszenie_Rzeszów_WWW_(A4)_2019_05_09_RP-1.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>06-07 wrzesień 2019 – Warszawa <a href="static/pdf/Zaproszenie_Warszawa2019.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>13-14 wrzesień 2019 – Opinogóra k. Ciechanowa <a href="static/pdf/Zaproszenie_Opinogora2019.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>25–26 październik 2019 - Opole <a href="static/pdf/Echoexpert_Zaproszenie_Opole2019.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>08-09 listopad 2019 - Zabrze <a href="static/pdf/Echoexpert_Zaproszenie_Zabrze2019.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}
.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}
.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
