<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2018 roku:</h2>
        <ul class="workshops-list">
          <li>27-28 kwietnia 2018 - Warszawa, Hotel Novotel Centrum <a href="static/pdf/Echoexpert_Zaproszenie_Warszawa_WWW_(A4)_2018_01_31_KT.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a>
          </li>
          <li>25-26 maja 2018 - Białystok, Hotel Esperanto <a href="static/pdf/Echoexpert_Zaproszenie_Bialystok_WWW_(A4)_2018_04.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>15-16 czerwca 2018 - Brzesko koło Tarnowa, Hotel Kasztel <a href="static/pdf/Echoexpert_Zaproszenie_WWW_Brzesko_(A4)_2018.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>7-8 września 2018 - Gołuchów koło Kalisza, Ośrodek Kultury Leśnej <a href="static/pdf/Echoexpert_Zaproszenie_Goluchow_WWW_2018_06_28.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>26-27 października 2018 - Wrocław <a href="static/pdf/Echoexpert_Zaproszenie_Wroclaw_WWW_(A4)_2018_09_06_KT.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>30 listopada - 01 grudnia 2018 - Katowice <a href="static/pdf/Echoexpert_Zaproszenie_Katowice_WWW_(A4)_2018_10_11_KT.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}
.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}
.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
