<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2017 roku:</h2>
        <ul class="workshops-list">
          <li>21-22 kwietnia 2017, Lublin / Nałęczów, Hotel Termy Pałacowe <a href="static/pdf/Echoexpert_Zaproszenie_Naleczow_2017.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>15-16 września 2017 - Olsztyn, Hotel HP Park <a href="static/pdf/Echoexpert_Zaproszenie_WWW_Olsztyn_(A4)_2017_08_18_KT.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>20-21 października 2017 - Opole, Hotel DeSilva <a href="static/pdf/Echoexpert_Zaproszenie_Opole_2017.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>27-28 października 2017 - Gdańsk, Hotel Novotel Centrum <a href="static/pdf/Echoexpert_Zaproszenie_Gdansk_2017.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>3-4 listopada 2017 - Kraków, Best Western Priemier <a href="static/pdf/Echoexpert_Zaproszenie_WWW_Krakow_2017.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
          <li>17-18 listopada 2017 - Poznań Sheraton <a href="static/pdf/Echoexpert_Zaproszenie_Poznan_2017.pdf" target="_blank">Zaproszenie&nbsp;(pdf)</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}
.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}
.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
