<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2015 roku:</h2>
        <ul class="workshops-list">
          <li>13-14 lutego 2015 – Poznań, Hotel Sheraton, <a href="static/pdf/Echoexpert_Zaproszenie_Poznan_2015_02.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>10-11 kwietnia 2015 – Opole, Hotel Mercure, <a href="static/pdf/Echoexpert_Zaproszenie_Opole_2015.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>08-09 maja 2015 – Olsztyn, Hotel Warmiński <a href="static/pdf/Echoexpert_Zaproszenie_Olsztyn_2015.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>04-05 września 2015 – Nałęczów, Termy Pałacowe <a href="static/pdf/Echoexpert_Zaproszenie_Naleczow_2015.pdf" target="_blank">Zaproszenie (pdf)</a></li>
          <li>16-17 października 2015 – Bydgoszcz, Hotel Holiday Inn <a href="static/pdf/Echoexpert_Zaproszenie_Bydgoszcz_2015.pdf?rand=1" target="_blank">Zaproszenie (pdf)</a></li>
          <li>20-21 listopada 2015 – Gdańsk, Hotel Mercure Heveliusz <a href="static/pdf/Echoexpert_Zaproszenie_Gdansk_2015.pdf?rand=1" target="_blank">Zaproszenie (pdf)</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}

p {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
