<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2010 roku:</h2>
        <ul class="workshops-list">
          <li>15 maja 2010, Szczecin, <a href="http://www.novotel.com/gb/hotel-3367-novotel-szczecin-centrum/index.shtml" target="_blank">Hotel Novotel,</a> Al. 3 Maja 31</li>
          <li>30-31 lipca 2010, Nałęczów, <a href="http://www.przepioreczka.com.pl/" target="_blank"> Hotel Przepióreczka,</a> 1-go Maja 6</li>
          <li>17-18 września 2010, Mielno, <a href="http://www.meduza.mielno.pl/" target="_blank">Hotel Przepioreczka,</a> Nadbrzeżna 2</li>
          <li>22-23 października 2010, Opole <a href="https://www.accorhotels.com/pl/hotel-3405-hotel-mercure-opole/index.shtml" target="_blank">Hotel Mercure,</a> Krakowska 57/59</li>
          <li>26-27 listopada 2010, Janowice k.Tarnowa <a href="http://http://www.palac-janowice.pl/kontakt" target="_blank">Pałac Janowice</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}

p {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
