<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo Expert w 2011 roku:</h2>
        <ul class="workshops-list">
          <li>20-21 maja 2011, Szczecin, <a href="https://www.radissonblu.com/en/hotel-szczecin" target="_blank">Hotel Radisson Blu,</a> Plac Rodła 10</li>
          <li>27-28 maja 2011, Olsztyn, <a href="http://manorhotel.pl/main.php?fid=305&pg=8&id_lang=0" target="_blank">Hotel Manor,</a> Kanarkowa 47</li>
          <li>8-9 lipca 2011, Nałęczów, <a href="http://przepioreczka.com.pl/index.php/default/category/kontakt/mapa_dojazdu" target="_blank">Hotel Przepioreczka,</a> 1-go Maja 6</li>
          <li>23-24 września 2011, Bydgoszcz, <a href="http://www.holiday.hgb.com.pl/PL/kontakt.html" target="_blank">Hotel Holiday Inn,</a> Grodzka 36</li>
          <li>21-22 października 2011, Poznań, <a href="http://www.grandroyalhotel.pl/kontakt" target="_blank">Hotel Twardowski,</a> Głogowska 358a</li>
          <li>25-26 listopada 2011, Opole, <a href="https://www.accorhotels.com/pl/hotel-3405-hotel-mercure-opole/index.shtml" target="_blank">Hotel Mercure,</a> Krakowska 57/59</li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}

p {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
