<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">
          Daty i miejsca kursów Echo-Expert w 2024 roku:
        </h2>
        <ul class="workshops-list">
          <li>
            Echo-Expert online Katowice – 27.01.2024 r. – kurs w formie
            <strong>on line</strong>
            <a
              href="https://echoexpert.pl/static/pdf/KATOWICE_2024.PDF"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="width: 14px; height: 14px"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                />
              </svg>
              Zaproszenie&nbsp;(pdf)</a
            >
          </li>

          <li>
            W drodze do Echo-Experta – 20.04.2024 r. – kurs w formie
            <strong>on line</strong>
            <a
              href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_w_DRODZE_DO_ECHO_EXPERTA_2024.PDF"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="width: 14px; height: 14px"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                />
              </svg>
              Zaproszenie&nbsp;(pdf)</a
            >
          </li>

          <li>
            Echo-Expert Warszawa – 25.05.2024 r. –
            <strong>warsztat stacjonarny</strong>
            <a
              href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_Warszawa_2024.pdf"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="width: 14px; height: 14px"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                />
              </svg>
              Zaproszenie&nbsp;(pdf)</a
            >
          </li>

          <li>
            Echo-Expert Katowice – 15.06.2024 r. –
            <strong>warsztat stacjonarny</strong>
            <a
              href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_Katowice_2024-2.PDF"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="width: 14px; height: 14px"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                />
              </svg>
              Zaproszenie&nbsp;(pdf)</a
            >
          </li>

          <li>
            Echo-Expert online – 14.09.2024 r. – kurs w formie
            <strong>on line</strong>
            <a
              href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_OLSZTYN_2024.pdf"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="width: 14px; height: 14px"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                />
              </svg>
              Zaproszenie&nbsp;(pdf)</a
            >
          </li>

          <li>
            Echo-Expert Special Debiuty – 07.12.2024 r. – kurs w formie
            <strong>on line</strong>
            <a
              href="https://echoexpert.pl/static/pdf/Echoexpert_Zaproszenie_DEBIUTY_SERVIER_2024_11_07.PDF"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="width: 14px; height: 14px"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                />
              </svg>
              Zaproszenie&nbsp;(pdf)</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.c-red {
  color: red;
}

.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
