<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Daty i miejsca kursów Echo-Expert w 2021 roku:</h2>
        <ul class="workshops-list">
          <li>Białystok - 23.01.2021 - kurs w formie <strong>on line</strong> <a href="static/pdf/Echoexpert_Zaproszenie_Bialystok_2021.pdf" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px;" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg> Zaproszenie&nbsp;(pdf)</a></li>
          <li>Łódź - 20.02.2021 - kurs w formie <strong>on line</strong> <a href="static/pdf/Echoexpert_Zaproszenie_Lodz_A4_20210128BG_bez-linku.pdf" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px;" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg> Zaproszenie&nbsp;(pdf)</a></li>
          <li>Rzeszów - 06.03.2021 - kurs w formie <strong>on line</strong> <a href="static/pdf/Echoexpert_Zaproszenie_Rzeszow_A4_2021_03_15.pdf" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px;" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg> Zaproszenie&nbsp;(pdf)</a></li>
          <li>Gdańsk - 10.04.2021 - kurs w formie <strong>on line</strong> <a href="static/pdf/Echoexpert_Zaproszenie_Gdansk_2021_(A4)_21_03_12_RP_Bez.pdf" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px;" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg> Zaproszenie&nbsp;(pdf)</a></li>
          <li>Poznań - 24.04.2021 - kurs w formie <strong>on line</strong> <a href="static/pdf/Zaproszenie_Echoexpert_Poznan2021.pdf" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px;" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg> Zaproszenie&nbsp;(pdf)</a></li>
          <li>Warszawa - 22.05.2021 - kurs w formie <strong>on line</strong> <a href="static/pdf/Echoexpert_Zaproszenie_Warszawa_A4_2021.pdf" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px;" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg> Zaproszenie&nbsp;(pdf)</a></li>
          <li>Wrocław - 09.10.2021 - kurs w formie <strong>on line</strong> <a href="static/pdf/Echoexpert_Zaproszenie_Wroclaw_2021_(A4)_21_09_27_RP_BEZ.PDF" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px;" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg> Zaproszenie&nbsp;(pdf)</a></li>
          <li>Kraków - 16.10.2021 - kurs w formie <strong>on line</strong> <a href="static/pdf/Echoexpert_Zaproszenie_Krakow_2021_(A4)_21_09_30_RP_BEZ.PDF" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px;" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg> Zaproszenie&nbsp;(pdf)</a></li>
          <li>Rzeszów - 20.11.2021 - kurs w formie <strong>on line</strong> <a href="static/pdf/Echoexpert_Zaproszenie_Rzeszow_2021_(A4)_21_10_08_RP_BEZ.PDF" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px;" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg> Zaproszenie&nbsp;(pdf)</a></li>
          <li>Echoexpert Special Debiuty - 04.12.2021 - kurs w formie <strong>on line</strong> <a href="static/pdf/Echoexpert_Zaproszenie_ONLINE_2021_(A4)_21_11_08_BL_ver2_(1).pdf" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px;" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg> Zaproszenie&nbsp;(pdf)</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .c-red{
    color: red;
  }
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}
.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}
.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
