<template>
  <div class="container">
    <div class="row content">
        <section>
          <div>
            <ul>
              <li class="col-sm-4" v-for="(image, index) in images" style="display: inline-block">
                <img class="img-fluid" v-lazy="image.src" @click="openGallery(index)">
              </li>
            </ul>
            <lightbox :images="images" ref="lightbox" :show-caption="true"></lightbox>
          </div>
        </section>
    </div>
  </div>
</template>
<script>
import Lightbox from 'vue-image-lightbox'
export default {
  components: {
    Lightbox
  },
  data () {
    return {
      images: [{
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_01.jpg'),
        src: require('../assets/img/2015/img01.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_02.jpg'),
        src: require('../assets/img/2015/img02.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_03.jpg'),
        src: require('../assets/img/2015/img03.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_04.jpg'),
        src: require('../assets/img/2015/img04.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_05.jpg'),
        src: require('../assets/img/2015/img05.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_06.jpg'),
        src: require('../assets/img/2015/img06.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_07.jpg'),
        src: require('../assets/img/2015/img07.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_08.jpg'),
        src: require('../assets/img/2015/img08.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_09.jpg'),
        src: require('../assets/img/2015/img09.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_010.jpg'),
        src: require('../assets/img/2015/img10.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_011.jpg'),
        src: require('../assets/img/2015/img11.jpg')
      }, {
        thumb: require('../assets/img/thumb/2015/Echo_Olsztyn_012.jpg'),
        src: require('../assets/img/2015/img12.jpg')
      }],
      nThumbs: 3,
      showThumbs: true,
      showLightBox: true
    }
  },
  methods: {
    openGallery (index) {
      this.$refs.lightbox.showImage(index)
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  background: rgba(255, 255, 255, 0.65);
}

@media (min-width:768px) {
  #aniimated-thumbnials img {
    width: 32.5%;
  }
}

li img {
  width: 100%;
  margin-bottom: 5px;
}
</style>
