<template>
  <div class="container">
    <div class="row content">
        <section>
          <div>
            <ul>
              <li class="col-sm-4" v-for="(image, index) in images" style="display: inline-block">
                <img class="img-fluid" v-lazy="image.src" @click="openGallery(index)">
              </li>
            </ul>
            <lightbox :images="images" ref="lightbox" :show-caption="true"></lightbox>
          </div>
        </section>
    </div>
  </div>
</template>
<script>
import Lightbox from 'vue-image-lightbox'
export default {
  components: {
    Lightbox
  },
  data () {
    return {
      images: [{
        thumb: require('../assets/img/thumb/2012/img01.jpg'),
        src: require('../assets/img/2012/img01.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img02.jpg'),
        src: require('../assets/img/2012/img02.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img03.jpg'),
        src: require('../assets/img/2012/img03.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img04.jpg'),
        src: require('../assets/img/2012/img04.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img05.jpg'),
        src: require('../assets/img/2012/img05.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img06.jpg'),
        src: require('../assets/img/2012/img06.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img07.jpg'),
        src: require('../assets/img/2012/img07.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img08.jpg'),
        src: require('../assets/img/2012/img08.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img10.jpg'),
        src: require('../assets/img/2012/img10.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img11.jpg'),
        src: require('../assets/img/2012/img11.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img14.jpg'),
        src: require('../assets/img/2012/img14.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img15.jpg'),
        src: require('../assets/img/2012/img15.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img16.jpg'),
        src: require('../assets/img/2012/img16.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img17.jpg'),
        src: require('../assets/img/2012/img17.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img18.jpg'),
        src: require('../assets/img/2012/img18.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img19.jpg'),
        src: require('../assets/img/2012/img19.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img20.jpg'),
        src: require('../assets/img/2012/img20.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img21.jpg'),
        src: require('../assets/img/2012/img21.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img22.jpg'),
        src: require('../assets/img/2012/img22.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img23.jpg'),
        src: require('../assets/img/2012/img23.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img24.jpg'),
        src: require('../assets/img/2012/img24.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img25.jpg'),
        src: require('../assets/img/2012/img25.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img26.jpg'),
        src: require('../assets/img/2012/img26.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img27.jpg'),
        src: require('../assets/img/2012/img27.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img28.jpg'),
        src: require('../assets/img/2012/img28.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img29.jpg'),
        src: require('../assets/img/2012/img29.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img30.jpg'),
        src: require('../assets/img/2012/img30.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img31.jpg'),
        src: require('../assets/img/2012/img31.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img32.jpg'),
        src: require('../assets/img/2012/img32.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img33.jpg'),
        src: require('../assets/img/2012/img33.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img34.jpg'),
        src: require('../assets/img/2012/img34.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img35.jpg'),
        src: require('../assets/img/2012/img35.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img36.jpg'),
        src: require('../assets/img/2012/img36.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img37.jpg'),
        src: require('../assets/img/2012/img37.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img38.jpg'),
        src: require('../assets/img/2012/img38.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img39.jpg'),
        src: require('../assets/img/2012/img39.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img40.jpg'),
        src: require('../assets/img/2012/img40.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img41.jpg'),
        src: require('../assets/img/2012/img41.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img42.jpg'),
        src: require('../assets/img/2012/img42.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img43.jpg'),
        src: require('../assets/img/2012/img43.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img44.jpg'),
        src: require('../assets/img/2012/img44.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img45.jpg'),
        src: require('../assets/img/2012/img45.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img46.jpg'),
        src: require('../assets/img/2012/img46.jpg')
      }, {
        thumb: require('../assets/img/thumb/2012/img47.jpg'),
        src: require('../assets/img/2012/img47.jpg')
      }],
      nThumbs: 3,
      showThumbs: true,
      showLightBox: true
    }
  },
  methods: {
    openGallery (index) {
      this.$refs.lightbox.showImage(index)
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  background: rgba(255, 255, 255, 0.65);
}

@media (min-width:768px) {
  #aniimated-thumbnials img {
    width: 32.5%;
  }
}

li img {
  width: 100%;
  margin-bottom: 5px;
}
</style>
