<template>
  <div class="container">
    <div class="row content">
        <section>
          <div>
            <ul>
              <li class="col-sm-4" v-for="(image, index) in images" style="display: inline-block">
                <img class="img-fluid" v-lazy="image.src" @click="openGallery(index)">
              </li>
            </ul>
            <lightbox :images="images" ref="lightbox" :show-caption="true"></lightbox>
          </div>
        </section>
    </div>
  </div>
</template>
<script>
import Lightbox from 'vue-image-lightbox'
export default {
  components: {
    Lightbox
  },
  data () {
    return {
      images: [{
        thumb: require('../assets/img/thumb/2014/img01.jpg'),
        src: require('../assets/img/2014/img01.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img02.jpg'),
        src: require('../assets/img/2014/img02.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img03.jpg'),
        src: require('../assets/img/2014/img03.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img04.jpg'),
        src: require('../assets/img/2014/img04.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img05.jpg'),
        src: require('../assets/img/2014/img05.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img06.jpg'),
        src: require('../assets/img/2014/img06.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img07.jpg'),
        src: require('../assets/img/2014/img07.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img08.jpg'),
        src: require('../assets/img/2014/img08.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img09.jpg'),
        src: require('../assets/img/2014/img09.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img10.jpg'),
        src: require('../assets/img/2014/img10.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img11.jpg'),
        src: require('../assets/img/2014/img11.jpg')
      }, {
        thumb: require('../assets/img/thumb/2014/img12.jpg'),
        src: require('../assets/img/2014/img12.jpg')
      }],
      nThumbs: 3,
      showThumbs: true,
      showLightBox: true
    }
  },
  methods: {
    openGallery (index) {
      this.$refs.lightbox.showImage(index)
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  background: rgba(255, 255, 255, 0.65);
}

@media (min-width:768px) {
  #aniimated-thumbnials img {
    width: 32.5%;
  }
}

li img {
  width: 100%;
  margin-bottom: 5px;
}
</style>
