<template>
  <div class="container">
    <div class="row content">
        <section>
          <div>
            <ul>
              <li class="col-sm-4" v-for="(image, index) in images" style="display: inline-block">
                <img class="img-fluid" v-lazy="image.src" @click="openGallery(index)">
              </li>
            </ul>
            <lightbox :images="images" ref="lightbox" :show-caption="true"></lightbox>
          </div>
        </section>
    </div>
  </div>
</template>
<script>
import Lightbox from 'vue-image-lightbox'
export default {
  components: {
    Lightbox
  },
  data () {
    return {
      images: [
        {
          thumb: require('../assets/img/EE2021/ee_krakow_21/1.jpg'),
          src: require('../assets/img/EE2021/ee_krakow_21/1.jpg')
        },
        {
          thumb: require('../assets/img/EE2021/ee_krakow_21/2.png'),
          src: require('../assets/img/EE2021/ee_krakow_21/2.png')
        },
        {
          thumb: require('../assets/img/EE2021/ee_krakow_21/3.png'),
          src: require('../assets/img/EE2021/ee_krakow_21/3.png')
        },
        {
          thumb: require('../assets/img/EE2021/ee_krakow_21/4.png'),
          src: require('../assets/img/EE2021/ee_krakow_21/4.png')
        },
        {
          thumb: require('../assets/img/EE2021/ee_krakow_21/5.png'),
          src: require('../assets/img/EE2021/ee_krakow_21/5.png')
        },
        {
          thumb: require('../assets/img/EE2021/ee_krakow_21/6.png'),
          src: require('../assets/img/EE2021/ee_krakow_21/6.png')
        },
        {
          thumb: require('../assets/img/EE2021/ee_krakow_21/7.png'),
          src: require('../assets/img/EE2021/ee_krakow_21/7.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/1.jpg'),
          src: require('../assets/img/EE2021/1.jpg')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/2.png'),
          src: require('../assets/img/EE2021/2.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/3.png'),
          src: require('../assets/img/EE2021/3.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/4.png'),
          src: require('../assets/img/EE2021/4.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/5.png'),
          src: require('../assets/img/EE2021/5.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eepoznan1.png'),
          src: require('../assets/img/EE2021/eepoznan1.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eepoznan3.png'),
          src: require('../assets/img/EE2021/eepoznan3.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eepoznan4.png'),
          src: require('../assets/img/EE2021/eepoznan4.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eepoznan6.png'),
          src: require('../assets/img/EE2021/eepoznan6.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eepoznan7.png'),
          src: require('../assets/img/EE2021/eepoznan7.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eepoznan8.png'),
          src: require('../assets/img/EE2021/eepoznan8.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eepoznan9.png'),
          src: require('../assets/img/EE2021/eepoznan9.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eegd1.jpg'),
          src: require('../assets/img/EE2021/eegd1.jpg')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eegd2.png'),
          src: require('../assets/img/EE2021/eegd2.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eegd3.png'),
          src: require('../assets/img/EE2021/eegd3.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eegd4.png'),
          src: require('../assets/img/EE2021/eegd4.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eegd5.png'),
          src: require('../assets/img/EE2021/eegd5.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eegd6.png'),
          src: require('../assets/img/EE2021/eegd6.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eegd7.png'),
          src: require('../assets/img/EE2021/eegd7.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eegd8.png'),
          src: require('../assets/img/EE2021/eegd8.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eegd9.png'),
          src: require('../assets/img/EE2021/eegd9.png')
        },
        {
          thumb: require('../assets/img/thumb/EE2021/eerzeszow1.png'),
          src: require('../assets/img/EE2021/eerzeszow.png')
        }, {
          thumb: require('../assets/img/thumb/EE2021/eerzeszowkasprzak1.png'),
          src: require('../assets/img/EE2021/eerzeszowkasprzak.png')
        }
      ],
      nThumbs: 3,
      showThumbs: true,
      showLightBox: true
    }
  },
  methods: {
    openGallery (index) {
      this.$refs.lightbox.showImage(index)
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  background: rgba(255, 255, 255, 0.65);
}

@media (min-width:768px) {
  #aniimated-thumbnials img {
    width: 32.5%;
  }
}

li img {
  width: 100%;
  margin-bottom: 5px;
}
</style>
