<template>
  <div class="container">
    <div class="row content">
        <section>
          <div>
            <ul>
              <li class="col-sm-4" v-for="(image, index) in images" style="display: inline-block">
                <img class="img-fluid" v-lazy="image.src" @click="openGallery(index)">
              </li>
            </ul>
            <lightbox :images="images" ref="lightbox" :show-caption="true"></lightbox>
          </div>
        </section>
    </div>
  </div>
</template>
<script>
import Lightbox from 'vue-image-lightbox'
export default {
  components: {
    Lightbox
  },
  data () {
    return {
      images: [{
        thumb: require('../assets/img/thumb/EE2019Warszawa/Echoexpert_warszawa_150x100_1.png'),
        src: require('../assets/img/EE2019Warszawa/Echoexpert_warszawa_1080x720_1.png')
      }, {
        thumb: require('../assets/img/thumb/EE2019Warszawa/Echoexpert_warszawa_150x100_2.png'),
        src: require('../assets/img/EE2019Warszawa/Echoexpert_warszawa_1080x720_2.png')
      }, {
        thumb: require('../assets/img/thumb/EE2019Warszawa/Echoexpert_warszawa_150x100_3.png'),
        src: require('../assets/img/EE2019Warszawa/Echoexpert_warszawa_1080x720_3.png')
      }, {
        thumb: require('../assets/img/thumb/EE2019Warszawa/Echoexpert_warszawa_150x100_4.png'),
        src: require('../assets/img/EE2019Warszawa/Echoexpert_warszawa_1080x720_4.png')
      }, {
        thumb: require('../assets/img/thumb/EE2019Warszawa/Echoexpert_warszawa_150x100_5.png'),
        src: require('../assets/img/EE2019Warszawa/Echoexpert_warszawa_1080x720_5.png')
      }, {
        thumb: require('../assets/img/thumb/EE2019Warszawa/Echoexpert_warszawa_150x100_6.png'),
        src: require('../assets/img/EE2019Warszawa/Echoexpert_warszawa_1080x720_6.png')
      }, {
        thumb: require('../assets/img/thumb/EE2019Warszawa/Echoexpert_warszawa_150x100_7.png'),
        src: require('../assets/img/EE2019Warszawa/Echoexpert_warszawa_1080x720_7.png')
      }, {
        thumb: require('../assets/img/thumb/EE2019Warszawa/Echoexpert_warszawa_150x100_8.png'),
        src: require('../assets/img/EE2019Warszawa/Echoexpert_warszawa_1080x720_8.png')
      }
      ],
      nThumbs: 3,
      showThumbs: true,
      showLightBox: true
    }
  },
  methods: {
    openGallery (index) {
      this.$refs.lightbox.showImage(index)
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  background: rgba(255, 255, 255, 0.65);
}

@media (min-width:768px) {
  #aniimated-thumbnials img {
    width: 32.5%;
  }
}

li img {
  width: 100%;
  margin-bottom: 5px;
}
</style>
