<template>
  <div class="container">
    <div class="row content">
        <section>
          <div>
            <ul>
              <li class="col-sm-4" v-for="(image, index) in images" style="display: inline-block">
                <img class="img-fluid" v-lazy="image.src" @click="openGallery(index)">
              </li>
            </ul>
            <lightbox :images="images" ref="lightbox" :show-caption="true"></lightbox>
          </div>
        </section>
    </div>
  </div>
</template>
<script>
import Lightbox from 'vue-image-lightbox'
export default {
  components: {
    Lightbox
  },
  data () {
    return {
      images: [{
        thumb: require('../assets/img/thumb/ee2020online/image001.png'),
        src: require('../assets/img/ee2020online/image001.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image002.png'),
        src: require('../assets/img/ee2020online/image002.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image003.png'),
        src: require('../assets/img/ee2020online/image003.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image004.png'),
        src: require('../assets/img/ee2020online/image004.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image005.png'),
        src: require('../assets/img/ee2020online/image005.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image006.png'),
        src: require('../assets/img/ee2020online/image006.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image007.png'),
        src: require('../assets/img/ee2020online/image007.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image008.png'),
        src: require('../assets/img/ee2020online/image008.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image009.png'),
        src: require('../assets/img/ee2020online/image009.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image010.png'),
        src: require('../assets/img/ee2020online/image010.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image011.png'),
        src: require('../assets/img/ee2020online/image011.png')
      }, {
        thumb: require('../assets/img/thumb/ee2020online/image012.png'),
        src: require('../assets/img/ee2020online/image012.png')
      }
      ],
      nThumbs: 3,
      showThumbs: true,
      showLightBox: true
    }
  },
  methods: {
    openGallery (index) {
      this.$refs.lightbox.showImage(index)
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  background: rgba(255, 255, 255, 0.65);
}

@media (min-width:768px) {
  #aniimated-thumbnials img {
    width: 32.5%;
  }
}

li img {
  width: 100%;
  margin-bottom: 5px;
}
</style>
