<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">
          Daty i miejsca kursów Echo Expert w 2022 roku:
        </h2>
        <ul class="workshops-list">
          <li>
            Poznań - 5.02.2022 r. - kurs w formie <strong>on line</strong>
            <a href="static/pdf/Echoexpert_Zaproszenie_Poznan_2022_(A4)_22_01_14_RP_Bez.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>
          <li>
            Białystok - 26.02.2022 r. - <strong>on line</strong>
            <a href="static/pdf/Echoexpert_Zaproszenie_Bialystok_2022_(A4)_22_01_19_RP_V1_BEZ.PDF" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>
          <li>
            Gdańsk - 26.03.2022 r. - kurs w formie <strong>on line</strong>
            <a href="static/pdf/Program_EEGDANSK_BL_2.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>
          <li>
            Warszawa - 3.09.2022 r. - kurs w formie <strong>on line</strong>
            <a href="static/pdf/Echoexpert_Zaproszenie_WAWA_2022.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>
          <li>
            Łódź - 17.09.2022 r. - kurs w formie <strong>on line</strong>
            <a href="static/pdf/Echoexpert_Zaproszenie_Lodz_2022.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>
          <li>
            Lublin - 08.10.2022 r. - kurs w formie <strong>on line</strong>
            <a href="static/pdf/Echoexpert_Lublin_2022.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>
          <li>
            Wrocław - 22.10.2022 r. - kurs w formie <strong>on line</strong>
            <a href="static/pdf/Echoexpert_Wroclaw_2022.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>
          <li>
            Poznań - 26.11.2022 r. - kurs w formie <strong>on line</strong>
            <a href="static/pdf/Echoexpert_Zaproszenie_POZNAN_2022.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>
          <li>
            Echoexpert Special Debiuty - 03.12.2022 r. - kurs w formie <strong>on line</strong>
            <a href="static/pdf/Echoexpert_Zaproszenie_DEBIUT_2022_BEZ_RP.PDF" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 14px; height: 14px" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              Zaproszenie&nbsp;(pdf)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.c-red {
  color: red;
}

.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
