<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h2 class="article-name">Informacje na temat warsztatów</h2>
        <p>Idea cyklu warsztatów echokardiograficznych <strong>Echo Expert</strong> powstała w 2010 roku, od tego czasu <strong>Echo Expert</strong> cieszy się niesłabnącą popularnością oraz zyskał ugruntowaną renomę w środowisku medycznym.</p>
        <p>Pieczę naukową nad tym cyklem szkoleń na poziomie zaawansowanym sprawują wybitni specjaliści prof. Edyta Płońska-Gościniak oraz prof. Jarosław D. Kasprzak. Grant edukacyjny zapewnia firma Servier.</p>
        <p>Grono wykładowców tworzą znakomici kardiolodzy-echokardiografiści, których wiedza i doświadczenie gwarantuje najwyższy poziom merytoryczny wykładów. Warsztaty dają możliwość pogłębienia wiedzy zarówno teoretycznej, jak i praktycznej. Wykłady połączone są z zajęciami praktycznymi, w trakcie których uczestnicy mają możliwość uczestnictwa w badaniach nadzorowanych i wykonywanych przez ekspertów oraz analizy złożonych przypadków klinicznych. Ważnym wyróżnikiem kursu jest wykorzystywanie echokardiografów najwyższej klasy, dostarczanych przez wiodące firmy sprzętowe: GE, Philips, Toshiba, MIRO (Aloka), Siemens.</p>
        <p>Cykl <strong>Echo Expert</strong> patronatem objęła Sekcja Echokardiografii PTK, za udział w warsztatach uczestnik otrzymuje 25 punktów akredytacyjnych SEPTK oraz punkty edukacyjne Okręgowej Izby Lekarskiej.</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}

p {
  padding-bottom: 6px;
  text-align: left;
}

.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
