<template>
  <footer class="footer">
  	<div class="footer-above">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 col-sm-6">
					<h3>Archiwum: warsztaty</h3>
          <router-link to="Echo2021">Echo expert 2021</router-link><br>
          <router-link to="Echo2020">Echo expert 2020</router-link><br>
          <router-link to="Echo2019">Echo expert 2019</router-link><br>
          <router-link to="Echo2018">Echo expert 2018</router-link><br>
          <router-link to="Echo2017">Echo expert 2017</router-link><br>
          <router-link to="Echo2016">Echo expert 2016</router-link><br>
          <router-link to="Echo2015">Echo expert 2015</router-link><br>
					<router-link to="Echo2014">Echo expert 2014</router-link><br>
					<router-link to="Echo2013">Echo expert 2013</router-link><br>
					<router-link to="Echo2012">Echo expert 2012</router-link><br>
					<router-link to="Echo2011">Echo expert 2011</router-link><br>
					<router-link to="Echo2010">Echo expert 2010</router-link>
				</div>
				<div class="col-md-4 col-sm-6">
					<h3>Archiwum: galerie</h3>
          <router-link to="Gallery-2021-online">Galeria 2021 - online</router-link><br>
          <router-link to="Gallery-2020-online">Galeria 2020 - online</router-link><br>
          <router-link to="Gallery2020">Galeria 2020 - stacjonarne</router-link><br>
          <router-link to="Gallery2019">Galeria 2019</router-link><br>
          <router-link to="Gallery-Warszawa2019">Galeria Warszawa 2019</router-link><br>
          <router-link to="Gallery-Opinogora2019">Galeria Opinogora 2019</router-link><br>
          <router-link to="Gallery-Bydgoszcz2019">Galeria Bydgoszcz 2019</router-link><br>
          <router-link to="Galery2016">Galeria 2016</router-link><br>
          <router-link to="Galery2015">Galeria 2015</router-link><br>
					<router-link to="Galery2014">Galeria 2014</router-link><br>
					<router-link to="Galery2013">Galeria 2013</router-link><br>
					<router-link to="Galery2012">Galeria 2012</router-link>
				</div>
				<div class="col-md-4 col-sm-12">
					<h3>Organizator warsztatów</h3>
					<address>
						<p>
							Net4Doctor sp. z o.o.<br>
							<a href="https://net4doctor.pl" target="_blank" title="lptg">www.net4doctor.pl</a>
							<br>92-520 Łódź, ul. Gdańska 126/128
						</p>
					</address>
				</div>
			</div>
		</div>
	</div>

    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">© echoexpert.pl</div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {}
</script>
<style type="text/css" scoped>
footer {
  margin-top: 40px;
  background: #fff;
  color: #0170c4;
}

footer a {
  color: #0170c4;
}

footer a:hover {
  color: #0170c4;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px
}

footer .footer-below {
  text-align: center;
  padding: 10px 0;
  background-color: #0170c4;
  margin-top: 10px;
	color: #fff;
}
</style>
