<template>
  <nav class="navbar navbar-inverse navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          aria-expanded="false"
          aria-controls="collapseExample"
          href="#bs-sidebar-navbar-collapse-1"
          type="button"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-left" href="/">
          <img
            src="../assets/img/servier_logo.png"
            class="servier_logo"
            alt="servier logo"
          />
        </a>
      </div>

      <div class="navbar-collapse collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right text-center">
          <li>
            <router-link :to="{ name: 'Information' }">Informacje</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'Echo2023' }"
              >Echo Expert 2023</router-link
            >
          </li>
          <li>
            <router-link :to="{ name: 'Echo2024' }"
              >Echo Expert 2024</router-link
            >
          </li>
          <li>
            <router-link :to="{ name: 'Echo2025' }"
              >Echo Expert 2025</router-link
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {};
</script>
<style type="text/css" scoped>
.servier_logo {
  padding: 10px 15px;
}

.navbar {
  border: none;
  border-radius: 0;
}

.navbar-inverse {
  background: #fff;
  color: #0170c4;
}

.navbar-inverse li:hover {
  background: #0170c4;
}

.navbar-nav > li > a {
  color: #0170c4 !important;
  padding: 24px 12px;
}

.navbar-nav > li > a:hover {
  color: #fff !important;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background: #0170c4;
}

.navbar-inverse .router-link-active {
  background: #0170c4 !important;
  color: #fff !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #0170c4;
}
.navbar-collapse {
  height: auto;
}
</style>
