<template>
  <div class="container pt-30">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="article-name">Partnerzy</h2>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <a href="">
            <img src="../assets/img/sponsors/medinco.png" class="w-100 pt-30" alt="Toshiba Logo">
            </a>
          </div>
          <div class="col-sm-12 col-md-3">
            <a href="http://www3.gehealthcare.pl">
            <img src="../assets/img/sponsors/ge-logo.png" class="w-100 pt-30" alt="General Electric Logo">
            </a>
          </div>
          <div class="col-sm-12 col-md-3">
            <a href="https://www.healthcare.siemens.pl">
            <img src="../assets/img/sponsors/simens-logo.png" class="w-100 pt-30" alt="Siemens Logo">
            </a>
          </div>
          <div class="col-sm-12 col-md-3">
            <a href="https://www.philips.pl/healthcare">
            <img src="../assets/img/sponsors/philips-logo.png" class="w-100 pt-30" alt="Philips Logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.w-100 {
  width: 100%;
}

.pt-30{
  padding-top: 30px;
}

.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.65);
}
.workshops-list li {
  padding-bottom: 6px;
  text-align: left;
}
.article-name {
  font-size: 18px;
  font-weight: bold;
  color: #2980b9;
  margin: 0 0 10px 0;
  text-align: left;
}
</style>
