<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <navigation></navigation>
    <header style="margin-bottom: 1em;">
      <div class="container clearfix">
        <div class="row">
          <div class="col-xs-12">
            <span class="pull-left text-uppercase top-text">Warsztaty<br>Echokardiograficzne</span>
            <div class="pull-right">
              <img src="./assets/img/echo_echo_expert.png" alt="echo expert" class="logo-top">
              <img src="./assets/img/echo_sekcja.png" alt="sekcja echokardiografii" class="logo-top">
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="content">
      <router-view></router-view>
      <sponsors></sponsors>
    </div>
    <myfooter></myfooter>
  </div>
</template>
<script>
import Hello from './components/Hello'
import Navigation from './components/Navigation'
import Sponsors from './components/Sponsors'
import Myfooter from './components/Myfooter'
import Information from './components/Information'
import Echo2017 from './components/Echo2017'
import Echo2016 from './components/Echo2016'
import Echo2015 from './components/Echo2015'
import Echo2014 from './components/Echo2014'
import Echo2013 from './components/Echo2013'
import Echo2012 from './components/Echo2012'
import Echo2011 from './components/Echo2011'
import Echo2010 from './components/Echo2010'
import Galery2016 from './components/Galery2016'
import Galery2015 from './components/Galery2015'
import Galery2014 from './components/Galery2014'
import Galery2013 from './components/Galery2013'
import Galery2012 from './components/Galery2012'

export default {
  name: 'app',
  components: {
    Hello,
    Navigation,
    Sponsors,
    Myfooter,
    Information,
    Echo2017,
    Echo2016,
    Echo2015,
    Echo2014,
    Echo2013,
    Echo2012,
    Echo2011,
    Echo2010,
    Galery2016,
    Galery2015,
    Galery2014,
    Galery2013,
    Galery2012
  }
}
</script>
<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

#app {
  font-family: 'Inter', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-image: url('./assets/img/echo_bg.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #e8f2f8;
  background-repeat: no-repeat;
}

.content {
  flex: 1;
}

.top-text {
  color: #0170c4;
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
  text-align: left;
}

@media (max-width: 768px) {
  .top-text {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .top-text {
    font-size: 16px;
  }
}

.logo-top {
  width: 90px;
  height: auto;
  margin: 0 2px 10px 0;
}
.vue-lb-box{width:100%}.vue-lb-container{align-items:center;background-color:rgba(0,0,0,.8);box-sizing:border-box;display:-ms-flexbox;display:-webkit-box;display:flex;height:100%;justify-content:center;left:0;padding:10px;position:fixed;top:0;width:100%;z-index:1;-webkit-align-items:center;-moz-box-sizing:border-box;-webkit-justify-content:center;-ms-flex-align:center;-webkit-box-align:center;-ms-flex-pack:center;-webkit-box-pack:center}.vue-lb-content{margin-bottom:60px;max-width:1024px;position:relative}.vue-lb-header{display:-ms-flexbox;display:-webkit-box;display:flex;justify-content:space-between;height:40px;-webkit-justify-content:space-between;-ms-flex-pack:justify;-webkit-box-pack:justify}.vue-lb-button-close{background:none;border:none;cursor:pointer;outline:none;position:relative;top:0;vertical-align:bottom;height:40px;margin-right:-10px;padding:10px;width:40px}.vue-lb-figure{margin:0;display:block;position:relative}img.vue-lb-modal-image{max-height:calc(100vh - 140px);cursor:pointer;display:block;height:auto;margin:0 auto;max-width:100%;user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}.vue-lb-info{visibility:initial;position:absolute;bottom:25px;color:#fff;background-color:rgba(0,0,0,.7);height:40px;width:100%;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;text-align:center}.vue-lb-footer{box-sizing:border-box;color:#fff;cursor:auto;display:-ms-flexbox;display:-webkit-box;display:flex;justify-content:space-between;left:0;line-height:1.3;padding:5px 0;-moz-box-sizing:border-box;-webkit-justify-content:space-between;-ms-flex-pack:justify;-webkit-box-pack:justify}.vue-lb-footer-info{display:block;flex:1 1 0;-webkit-flex:1 1 0;-ms-flex:1 1 0}.vue-lb-footer-count{color:hsla(0,0%,100%,.75);font-size:.85em;padding-left:1em}.vue-lb-thumbnail{bottom:10px;height:50px;padding:0 50px;text-align:center;white-space:nowrap;display:inline-block;position:relative}.vue-lb-modal-thumbnail{box-shadow:inset 0 0 0 1px hsla(0,0%,100%,.2)}.vue-lb-modal-thumbnail,.vue-lb-modal-thumbnail-active{background-position:50%;background-size:cover;border-radius:2px;cursor:pointer;display:inline-block;height:50px;margin:2px;overflow:hidden;width:50px}.vue-lb-modal-thumbnail-active{box-shadow:inset 0 0 0 2px #fff}.vue-lb-thumbnail-arrow{height:54px;width:40px;background:none;border:none;border-radius:4px;cursor:pointer;outline:none;padding:10px;position:absolute;top:50%;-webkit-touch-callout:none;user-select:none;height:50px;margin-top:-25px;width:30px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}.vue-lb-thumbnail-left{left:10px}.vue-lb-thumbnail-right{right:10px}.vue-lb-arrow{background:none;border:none;border-radius:4px;cursor:pointer;outline:none;padding:10px;position:absolute;top:50%;-webkit-touch-callout:none;user-select:none;height:120px;margin-top:-60px;width:40px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}.vue-lb-left{left:10px}.vue-lb-right{right:10px}.vue-lb-open{overflow:hidden}.vue-lb-thumbnail-wrapper{bottom:10px;height:50px;left:0;margin:0 auto;position:absolute;right:0;text-align:center;top:auto}@media (min-width:500px){.vue-lb-thumbnail-arrow{width:40px}}@media (min-width:768px){.vue-lb-arrow{width:70px}}.fade-enter-active,.fade-leave-active{transition:opacity .2s ease}.fade-enter,.fade-leave-to{opacity:0}

</style>
